<p id="notice"><%= notice %></p>
<% if User.find_by_id(session[:user_id]) === @user %>
	<%= link_to 'New Phrase', new_user_phrase_path(@user) %>
<% end %>

<h2><%= @user.name %></h2>
<aside class="span4">
	<section>
		<%= render 'shared/stats' %>
	</section>
</aside>
<div class="span8">
	<!--<%= render 'follow_form' if session[:user_id] %>-->
</div>

<%= render 'fridge' %>


<!--<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>-->