<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# field for user to enter a caption on the Flickr cat photo %>
  <div class="field">
    <%= f.text_field :content %>
  </div>

  <%# hidden field for url to the cat that was retrieved via AJAX from flickr for this post %>
  <div><%= f.hidden_field :url, :value => @post.url %></div>

  <%# hidden field for user id %>
  <div><%= f.hidden_field :user_id, :value => session[:user_id] %></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
