<p id="notice"><%= notice %></p>
<p>	
	<!-- upvote implementation inspired by http://stackoverflow.com/q/7085509/1443027-->
	<span><%= @post.upvotes %><%= link_to '↑', upvote_post_path(@post), :class => "upvote" %>
</p>
<p>
  	<%= image_tag(@post.url) %>
</p>
<p>
  <%= @post.content %>
</p>

<% if session[:user_id] === @post.user_id %>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
<% end %>
